/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    background-color: #282A36;
    cursor: none;
}

a {
    cursor: none;
}

.circle {
    position:absolute;
    top:0;
    animation:animate 5s linear forwards;
    border-radius: 20px;
    width: 150%;
}

@keyframes animate {
    0%{
        transform:translateX(0) translateY(0) skew(45deg);
        /* transform:translateX(0) translateY(0); */
        opacity:0.1;
    }

    50%{
        opacity:0.1;
    }

    100%{
        /* transform:translateY(120rem); */
        transform:translateX(120rem) translateY(120rem) skew(45deg);
        opacity:0;
    }
}

#icons {
    z-index: 2;
}

.info-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: opacity 800ms ease;
}

#info-items {
    position: relative;
    z-index: 2;
}

#info-items:hover > .info-item {
    opacity: 0.3;
}

#info-items:hover > .info-item:hover {
    opacity: 1;
    animation: scaleEl 800ms linear;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.1;
    background-image:  linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(30deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(150deg, #b4b4b4 12%, transparent 12.5%, transparent 87%, #b4b4b4 87.5%, #b4b4b4), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477), linear-gradient(60deg, #b4b4b477 25%, transparent 25.5%, transparent 75%, #b4b4b477 75%, #b4b4b477);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    /* background-image: radial-gradient(
        rgba(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin; */
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#info-items:hover ~ #menu-background-pattern {
    /* background-size: 11vmin 11vmin;
    opacity: 0.5; */
    background-size: 86px 146px;
    background-position: 0 0, 0 0, 43px 73px, 43px 73px, 0 0, 43px 73px;
}

/* #info[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%; 
}

#info[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%; 
}

#info[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%; 
}

#info[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%; 
}

#info[data-active-index="4"] > #menu-background-pattern {
    background-position: 0% -125%; 
}

#info[data-active-index="5"] > #menu-background-pattern {
    background-position: 0% -150%; 
}

#info[data-active-index="6"] > #menu-background-pattern {
    background-position: 0% -175%; 
} */

.cursor {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}

#sun-icon {
    animation: fade1 800ms linear;
    transition: opacity 800ms ease;
}

#moon-icon {
    animation: fade2 800ms linear;
    transition: opacity 800ms ease;
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
  @keyframes fade2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleEl {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}